
.list-group-item{
  background-color: transparent !important;

}
.today-temp{
  display: flex; 
  justify-content: space-between;
}

.today-weather{
  display: flex;
  justify-content: space-around; 
  align-items: center;
  width: 220px;
}

.weather-list {
  width: 320px;
}

.weather-item {
  display: flex !important;
  justify-content: space-between !important; 
}

.location {
  display: flex !important;
  justify-content: space-between !important;
  flex-direction: column;
}

